*{
    margin: 0;
    padding: 0;
}
nav{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    background-color: #ffc107;
    height: 3rem;
    position: relative;

}
nav ul{
    list-style:  none;
    align-items: center;
    float: right;
    display: flex;
    height: 55%;
	position: absolute;
	margin-left: 30%;
	margin-top: 10px;
}

nav ul a{
    text-decoration: none;
    margin: 0px 10px;
    color:aliceblue;
    font-family: sans-serif;
}
a:hover{
    color: black;
}
#img-top{
    width: 15%;
    height: 30%;
    border-style: dotted;
    padding: 10px 10px;
    margin-left: 42.5%;
}
#logo{
    width: 10%;
    float: left;
    margin-top: -30px;
    margin-left: 11%;
    background-color: white;
    position: absolute;
}

.container{
    width: 100%;
    margin-top: 2.5rem;
    height: 73rem;
    box-sizing: border-box;
    position: relative;
}
.bg-top{
    background: url(./pic/bg.jpg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
    padding-top: 33.5rem;
    /* position: relative; */
}
.bg-bottom{
    background: url(./pic/bg.jpg);
    padding-top: 33.5rem;
}
.party{
    width: 80%;
    top: 0;
    margin-left: 10%;
    /* position: absolute; */
}
.iso{
    width: 32%;
    top: 0%;
    bottom: 4px;
    margin-left: 58%;
    margin-top: 21%;
}
.party, .iso{
    position: absolute;
}
.bg-top, .bg-bottom{
    z-index: -1;
}

h2{
	background-color: white;
    width: 15rem;
    margin-left: 30px;
    margin-top: 50px;
    float: left;
    text-align: center;
    padding: 10px 100px;
}
